<header class="site-header">
    <div class="logo">
        <a href="/">
            <!-- Coloque o código SVG do logo aqui -->
            <svg width="520" height="140" viewBox="0 0 520 140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="MELO LIMA - Soluções Práticas">
                <!-- ... conteúdo SVG completo ... -->
            </svg>
        </a>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/informativo/">Informativo</a></li>
            <li><a href="/contato/">Contato</a></li>
        </ul>
    </nav>
</header>
